<section id="about" class="about">
  <img class="img--ghost" src="../GHOST-tiny.png" alt="">
  <div class="wrapper about--wrapper">
    <h2 class="about--h2">About Bantandu</h2>
    <p class="text--ghost">Bantandu is an extraordinary hot sauce producer in Alberta, Canada. We prepare our sauces from only the finest local organic ingredients. Our sauce selection changes bi-annually, and each flavour is available only in small quantity.</p>
    <a href="#contact">
      <p class="text--ghost"><em>We ship worldwide!</em></p>
    </a>
    <p class="text--ghost">Are you considering ordering a bottle? Fill out our form below to get started with your first Bantandu heat product. Make sure to select your ideal heat level for the perfect sauce!</p>
  </div>
</section>
