<footer class="">
  <div class="wrapper wrapper--footer wrapper--flex footer-menu">

    <a class="footer--logo" href="http://www.bantandu.com/">
      <h2>Bantandu</h2>
    </a>
    <ul>
      <div class="nav nav--link">
        <li><a href="#home">Home</a></li>
        <li><a href="#sauces">Sauces</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Order</a></li>
      </div>
      <div class="nav nav--social">
        <li><a href="https://www.instagram.com"><i class="fab fa-instagram fa-2x"></i></a></li>
        <li><a href="https://twitter.com"><i class="fab fa-twitter-square fa-2x"></i></a></li>
        <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a></li>
      </div>
    </ul>
  </div>
  <div class="copyright">
    Copyright 2018 Bantandu.com All rights reserved.

  </div>

</footer>

<script src="app.js"></script>

</body>

</html>
