<form action="https://formspree.io/hello@bantandu.com" method="post">
  <div class="form--name">
    <div class="form--name--first">
      <label class="head">First Name</label>
      <input type="text" id="name" name="first_name" placeholder="First Name" class="placeholder-fix" required>
    </div>
    <div class="form--name--last">
      <label class="head">Last Name</label>
      <input type="text" id="name" name="last_name" placeholder="Last Name" class="placeholder-fix" required>
    </div>
  </div>
  <div class="form--email">
    <label class="head">Email</label>
    <input type="email" id="mail" name="user_mail" placeholder="Email Address" class="placeholder-fix" required>
  </div>
  <div class="form--radio">
    <label class="head">What type of sauce?</label>
    <div class="form--radio--classic">
      <input type="radio" id="radio1" name="sauce" value="classic" checked>
      <label class="label--radio" for="radio1">Cult Classic</label>
    </div>
    <div class="form--radio--mango">
      <input type="radio" id="radio2" name="sauce" value="mango">
      <label class="label--radio" for="radio2">Mango Madness</label>
    </div>
  </div>
  <div class="form--slide form--slide--heat">
    <label class="head" for="range">What heat level?</label>
    <div class="sliderUpdate">
      <input type="range" min="1" max="11" value="6" class="form--slide--slider" id="myRange--heat">
      <p class="sliderUpdate--p"><span id="update--heat"></span></p>
    </div>
  </div>
  <div class="form--slide form--slide--bottles">
    <label class="head" for="range">How many bottles?</label>
    <div class="sliderUpdate">
      <input type="range" min="1" max="5" value="2" class="form--slide--slider" id="myRange--bottles">
      <p class="sliderUpdate--p"><span id="update--bottles"></span></p>
    </div>
  </div>

  <div class="form--message">
    <label class="head">Any last words?</label>
    <textarea id="msg" name="user_message" placeholder="Hello there..." class="placeholder-fix"></textarea>
  </div>

  <div class="form--button">
    <input class="btn" type="submit" name="submit" value="Order Sauce">
  </div>


</form>
