<section id="sauces" class="sauces">
  <div class="sauces--banner">
    <img src="../BANNER2.png" class="sauces--banner__bot" alt="">
    <h2 class="sauces--title"><strong>Our Sauce Calendar</strong></h2>
  </div>

  <div class="wrapper__sauces wrapper__sauces__left">
    <img src="../CALENDAR.png" class="sauces--img calendar" alt="">
    <p class="sauces--text sauces--text__left">Bantandu offers a unique experience for the true sauce connoisseur! We create four different flavours every year, and to protect our epic quality standards we offer only two styles at a time. This season's menu consists of Cult Classic and Mango Madness, make sure to try one of each while supplies last. Also check back here regularly to see a sneak preview of next season flavours!</p>
  </div>

  <div class="sauces--background--classic">
    <h3 id="classic" class="sauce--title sauce--title__classic">Cult Classic</h3>
    <section class="sauces--box wrapper__sauces wrapper__sauces__right" id="sauces--classic">
      <img src="../LABEL-CULTCLASSIC-800px.jpg" class="sauces--img" alt="">
      <p class="sauces--text sauces--text__right">We are excited to share this modern take on the classic chili and garlic sauce. This sauce is made with our superb oven roasted Bhut jolokia (ghost peppers). Our Cult Classic also features roasted red pepper and garlic, organic red chiles, olive
        oil, and apple cider vinigar. <a href="#contact"><em>Order today</em></a> for the offical Cult Classic taste experience!</p>
    </section>
  </div>

  <div class="sauces--background--mango">
    <h3 id="mango" class="sauce--title sauce--title__mango">Mango Madness</h3>
    <section class="sauces--box wrapper__sauces wrapper__sauces__left" id="sauces--mango">
      <img src="../LABEL-MANGOMADNESS-800px.jpg" class="sauces--img" alt="">
      <p class="sauces--text sauces--text__left">
        This sauce takes mangoes to the next level! Here we smoothly blend the tastes of mango, peach, and heat for your enjoyment. Warning: Mango Madness is made with our superb oven roasted Bhut jolokia. This sauce also features organic olive oil, cilantro
        and apple cider vinigar. <a href="#contact"><em>Order today</em></a> for the offical Mango Madness taste experience!</p>
    </section>
  </div>

</section>
