.contact {
  background: url(../fire3.jpg)no-repeat 0 56% fixed;
  padding: calc(1.25em*6) 0;
  background-size: cover !important;
}

.wrapper--contact {
  margin: 0 auto;
  height: 100%;
  @media (min-width: 48em) {
    max-width: 64em;
  }
}

.contact h2 {
  color: var(--color-cream);
}

h2 small {
  display: block;
  font-family: var(--font-sans);
  /* font-size: 1em; */
}

h2 span {
  display: none;
}

.form--background {
  padding: calc(1.25em*2) 0 0 0;
  background: rgba(0, 0, 0, 0.85);
}
