footer {
  background: black;
  /* background: var(--color-black); */
}
.wrapper--footer {
  max-width: 87.5em;
  margin: 0 auto;
}

.footer-menu a {
  display: block;
  padding: calc(1.25em*.65) 1.25em;
  line-height: 1em;
  font-size: calc(1.25em);
  color: var(--color-cream);
  text-decoration: none;
  font-family: var(--font-sans);
}
.footer-menu ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  list-style: none;
  padding: 3.85em 0 0;
  width: 100%;
  /* background: var(--color-black); */
}

.footer--logo h2 {
  font-family: var(--font-soul);
}

footer a {
  opacity: 0.15;
  transition: all .3s;
}

footer a:hover {
  opacity: 0.5;
}

footer a:focus {
  opacity: 0.5;
  outline: none;
}

footer a:active {
  opacity: 0.25;
}

.copyright {
  color: var(--color-cream);
  opacity: 0.1;
  padding: calc(1.25em);
}
