#home {
  background: var(--color-cream);
  padding: calc(1.25em*2) calc(1.25em*2);
  height: 79vh;
  @media (min-width: 75em) {
    top: 0;
    height: 86vh;
    min-height: calc(1.25em*30);
  }
}
.wrapper--home {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.wrapper--flavours {
  display: none;
  position: absolute;
  left: calc(1.25em*1.8);
  top: calc(1.25em*16.75);
  z-index: 2;
  /* position: fixed; */
  z-index: 2;
  @media (min-width: 75em) {
    display: block;
    /* position: fixed; */
  }
}

.flavours--flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(1.25em*8+10vw);
}

.flavours {
  width: calc(1.25em*1.2);
  height: calc(1.25em*1.2);
  border: 1px solid rgba(0, 0, 0, .1);
  transition: all .3s ease;
}

.flavours--text {
  visibility: hidden;
  padding: calc(1.25em*.2) calc(1.25em*.4);
  color: #fff;
  width: calc(1.25em*3);
  display: inline-block;
  background: #000;
  opacity: .85;
  text-align: center;
  font-style: var(--font-sans);
  font-size: calc(1.25em*.8);
  left: 118%;
  position: relative;
}

.flavours--1 {
  background: var(--color-yellow);
}

.flavours--2 {
  background: var(--color-orange2);
}

.flavours--3 {
  background: var(--color-orange);
}

.flavours--4 {
  background: var(--color-red);
}

.flavours--5 {
  background: var(--color-burnt);
}

.flavours:hover .flavours--text {
  visibility: visible;
}

.flavours:hover .flavours--text:after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.flavours:hover {
  width: calc(1.25em*2.2);
  height: calc(1.25em*2.2);
}

.flavours:focus {
  width: calc(1.25em*2.2);
  height: calc(1.25em*2.2);
  outline: none;
}

.header--box {
  text-align: center;
}

.bantandu--small {
  width: 8em;
  margin-top: calc(1.25em*5);
  @media (min-width: 75em) {
    display: none;
  }
}

.bantandu--large {
  display: none;
  @media (min-width: 75em) {
    display: block;
  }
}

.bantandu--box {
  width: 16vh;
  min-width: calc(1.25em*30*.2);
  position: absolute;
  top: 26vh;
  right: calc(1.25em*-1.0);
  transition: right .4s ease;
}

.bantandu--box:hover {
  right: 0;
}

.bantandu--box:focus {
  right: 0;
  outline: none;
}

/*
BANTANDU SVG
*/

#bantandu {
  width: 50vh;
}

#bantandu .st0 {
  fill: var(--color-burnt);
  transition: fill 0.6s ease;
}

#bantandu:hover .st0 {
  fill: var(--color-burnt-red);
}

#bantandu--half .st0 {
  fill: none;
}

#bantandu--half .st1 {
  fill: var(--color-burnt);
  transition: fill 0.6s ease;
}

#bantandu--half:hover .st1 {
  fill: var(--color-burnt-red);
}

/*
BUTTON
*/

.button {
  display: block;
  border: none;
  background-color: var(--color-red);
  color: var(--color-cream);
  border-radius: calc(1.25em*.1);
  text-align: center;
  font-family: var(--font-sans);
  text-decoration: none;
  transition: all .3s ease;
  padding: calc(1.25em*1) calc(1.25em*2);
  @media (min-width: 75em) {
    padding: calc(1.25em*2) calc(1.25em*4);
    margin: calc(1.25em*4) 0;
  }
}

.button:hover, .button:focus {
  color: var(--color-cream);
  background: var(--color-burnt-red);
}

.button:active {
  color: var(--color-yellow);
  background: var(--color-burnt);
}
